@import 'vendor/scut';
@import 'vendor/normalize';

.DeviceList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  &-item {
    box-shadow: scut-rem(0 4 9 0) rgba(black, 0.2);
    padding: scut-rem(16);
    min-height: scut-rem(300);

    &--small {
      max-width: scut-rem(320);
    }

    &--medium {
      width: scut-rem(411);
    }

    &--large {
      max-width: scut-rem(600);
    }
  }
}
